In [1]:
import pandas as pd
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Applied-Artificial-Intelligence-Workshop/master/Datasets/Sales_Transactions_Dataset_Weekly.csv'
df = pd.read_csv(file_url)
df2 = df.drop(df.iloc[:, 0:55], inplace = False, axis = 1)
from sklearn.cluster import KMeans
k_means_model = KMeans(n_clusters=8, random_state=8)
k_means_model.fit(df2)
labels = k_means_model.labels_
df.drop(df.iloc[:, 53:], inplace = True, axis = 1)
df.drop('Product_Code', inplace = True, axis = 1)
df['label'] = labels
df_agg = df.groupby('label').sum()
df_final = df[['label','W0']].groupby('label').count()
df_final=df_final.rename(columns = {'W0':'count_product'})
df_final['total_sales'] = df_agg.sum(axis = 1)
df_final['yearly_average_sales']= df_final['total_sales'] / df_final['count_product']
df_final.sort_values(by='yearly_average_sales', ascending=False, inplace = True)

In [2]:
df_final

       count_product  total_sales  yearly_average_sales
label
3                115       162668           1414.504348
4                113        86037            761.389381
0                109        57020            523.119266
2                 87        39940            459.080460
7                 88        21213            241.056818
6                 89         6137             68.955056
5                 87         1375             15.804598
1                123          897              7.292683